In [1]:
import pandas as pd
import numpy as np

In [8]:
orivalues = np.array([[1, 2, 3], 
[2, 3, 4], 
[3, 4, np.nan]])
tb = pd.DataFrame(orivalues)
tb

     0    1    2
0  1.0  2.0  3.0
1  2.0  3.0  4.0
2  3.0  4.0  NaN

<h1>丢失数据的检查

In [11]:
# 检查是否含有数据缺失
check = tb.isnull()
# 至少存在一个丢失数据
np.any(check) == True

True

<h1>丢失数据的处理

In [9]:
# 去除数据中含有none的行
tb.dropna(axis=0, how="any")
# how:{"any","all"} any意为含一个none即抛弃，默认值；all全部都是

     0    1    2
0  1.0  2.0  3.0
1  2.0  3.0  4.0

In [10]:
# 填充none为value
tb.fillna(value=0)

     0    1    2
0  1.0  2.0  3.0
1  2.0  3.0  4.0
2  3.0  4.0  0.0