In [2]:
import pandas as pd
import numpy as np

<h1>生成数据链表</h3><br>
index列表头<br>
columns行表头<br>(均默认为索引号)

In [3]:
table1 = pd.DataFrame(np.arange(4).reshape(2, 2), index=['hedge', 'hevean'], columns=['A','B'])
table1

        A  B
hedge   0  1
hevean  2  3

In [4]:
table2 = pd.DataFrame({
    "A":[14, 1],
    "B":[3, 20]
})
type(table2)

pandas.core.frame.DataFrame

<h1>DataFrame基本属性

<h2>数据类型

In [5]:
table2.dtypes

A     int64
B    object
dtype: object

In [7]:
table2.index

RangeIndex(start=0, stop=2, step=1)

In [12]:
table2.values, table2.T

(array([[1, '1'],
        [1, '2']], dtype=object),
    0  1
 A  1  1
 B  1  2)

In [15]:
table2.describe()

         A
count  2.0
mean   1.0
std    0.0
min    1.0
25%    1.0
50%    1.0
75%    1.0
max    1.0

<h2>分组分布

In [6]:
# 按照组分类并查看相应情况
table2.groupby("A").size()

A
1     1
14    1
dtype: int64

<h2>数据相关性

In [9]:
pd.set_option("precision", 2)
table2.corr()

     A    B
A  1.0 -1.0
B -1.0  1.0

In [13]:
# ascend 倒序
table2.sort_index(axis=1, ascending=False)

   B  A
0  1  1
1  2  1

<h1>数据索引方式

In [6]:
# 属性索引
table2['A'], table2.A

(0    14
 1     1
 Name: A, dtype: int64,
 0    14
 1     1
 Name: A, dtype: int64)

In [19]:
# 切片索引
table2[0:1]

   A  B
0  1  1

In [24]:
# 标签索引
table2.loc[:,["A"]]

   A
0  1
1  1

In [27]:
# 位置索引
table2.iloc[1:2,0:1]

   A
1  1

混合索引
<br>现已重构，包括于loc之中
<br>table2.ixs\[:1, \[0,]]

<h1>属性更改方式

In [42]:
# 大于3的A值对应的B值改为none
table2.B[table2.A > 3] = np.nan
table2

    A     B   C
0  14   NaN  23
1   1  10.0   4

<h1>元素新增

In [41]:
table2['C'] = pd.Series([23,4], index=[0,1])
table2

    A     B   C
0  14   NaN  23
1   1  10.0   4