In [4]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
plt.rcParams['font.sans-serif'] = 'SimHei'
plt.rcParams['axes.unicode_minus'] = False  # 设置正常显示符号

## Test1

题目描述：

大学考试通常采取百分制，阅卷老师根据学生完成试卷情况，给定一个分数(score, $ 0\le score\le100$ ),但是，绩点（GPA: grade point）通常是用来衡量学生学业成绩的常用方法，假设在考试分数（score）和课程绩点的换算关系见下面表格。试编写一个分数到绩点的转换函Tran_Scor_Gap，给定分数（score），就能返回对应的绩点（GAP）。并键盘输入一个分数，调用该函数，打印对应的绩点。

![换算关系](./test.png)

In [ ]:
def Tran_Scor_Gap(score:int)->float:
    """根据分数返回绩点"""
    if not 100 >= score >= 0:
        raise ValueError("输入分数应在0-100内")
    elif score < 60:
        return 0.0
    else:
        return (score - 50.0)//10
        # return (score - 50)/10

In [ ]:
# 测试模块
for score, grade in np.random.randint(0,100,(10,2)):
    print(f"课程得分为 {score}，绩点为 {Tran_Scor_Gap(score)}")

# Test2

题目描述：

目前中国的资本市场逐渐成熟，投资于股市成为众多企业乃至个人的重要理财方式。因此利用上市公司当年的公开的财务指标对起来年盈利状况予以预测就成为投资人最重要的决策依据。为合理预测上市公司来年的盈利状况，我们需要有效利用上市公司的历史财务数据，对其来年的净资产收益率（ROE，本问题的因变量）进行估计预测，我们选取了公司当年的净资产收益率ROEt，资产周转率（ATO），主营讹误利润/主营业务收入（PM），债务资本比率（LEV），主营业务收入增长率（GROWTH），市倍率（PB），应收账款/主营业务收入（ARR），存货/资产总计（INV），对数变换后的资产总计（ASSET）共9个财务指标作为自变量，随机抽取深市和沪市2002年和2003年各500个样本（附件1中CSV文件）。利用附件1中的数据，完成以下问题：

2.1 读入该数据，并查看该数据的基本情况（包括数据的维数，形状，数据类型等基本信息）

In [6]:
data = pd.read_csv("python期末考试数据.csv")
print(f"该数据维度为{len(data.shape)}，形状为{data.shape}，大小为{data.size}")
data.describe()

该数据维度为2，形状为(1000, 11)，大小为11000

,year,ROEt,ATO,PM,LEV,GROWTH,PB,ARR,INV,ASSET,ROE
count,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2002.50000,0.063486,0.430850,0.211826,0.921948,0.220826,2.879619,0.164758,0.104303,21.094031,0.390832
std,0.50025,0.503906,0.473936,0.189573,3.147128,2.159541,9.441645,0.940298,0.128173,0.881754,0.520557
min,2002.00000,-1.390000,-1.191000,-0.424000,-7.941000,-7.785000,-22.952000,-2.800000,-0.339000,18.462000,-1.164000
25%,2002.00000,-0.266500,0.118750,0.088000,-1.102500,-1.221000,-3.607250,-0.453000,0.013750,20.505750,0.054750
50%,2002.50000,0.062500,0.442500,0.215000,0.920000,0.247000,2.855500,0.179500,0.110000,21.095500,0.405500
75%,2003.00000,0.402250,0.756250,0.340000,3.023000,1.669250,9.190500,0.777250,0.191000,21.679250,0.711250
max,2003.00000,1.601000,1.927000,0.750000,10.239000,6.164000,32.591000,3.417000,0.609000,23.685000,5.285000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    1000 non-null   int64
 1   ROEt    1000 non-null   float64
 2   ATO     1000 non-null   float64
 3   PM      1000 non-null   float64
 4   LEV     1000 non-null   float64
 5   GROWTH  1000 non-null   float64
 6   PB      1000 non-null   float64
 7   ARR     1000 non-null   float64
 8   INV     1000 non-null   float64
 9   ASSET   1000 non-null   float64
 10  ROE     1000 non-null   float64
dtypes: float64(10), int64(1)
memory usage: 86.1 KB

NoneType

2.2 求数据中因变量ROE的基本统计量（最小值，最大值，均值，标准差）

In [ ]:
data['ROE'].describe()
# 见下min, max, mean, std
# 或者data.min(),data.max(),data.mean(),data.std()

2.3 创建一个画布，将画布划分为 $3\times3$ 的9个子图，依次绘制因变量ROE与其它9个自变量的散点图。

In [ ]:
plt.figure(figsize=(9,9))
for i in range(9):
    plt.subplot(3,3,i+1)
    plt.scatter(data.iloc[:, i], data.iloc[:, 9], s=8)
    plt.ylabel("ROE")
    plt.xlabel(data.iloc[:, i].name)

2.4 创建一个画布，在这个画布上绘制数据中10个变量的箱线图

In [ ]:
# plt.figure(figsize=(12, 8))
plt.boxplot(data.iloc[:, 1:], labels=data.columns[1:],
            whis=2, flierprops={
    'marker': 'o', 'markerfacecolor': 'r', 'color': 'k'},
    patch_artist=True, boxprops={
    'color': 'k', 'facecolor': 'g'}, vert=False)
plt.tight_layout()
plt.show()

2.5 求数据中10个变量的相关系数矩阵

In [ ]:
names = data.columns[1:]
correlations = data.iloc[:, 1:].corr()
correlations

In [ ]:
fig = plt.figure(figsize=(7, 7))
ax = fig.add_subplot(111)
cax = ax.matshow(correlations, vmin=-1, vmax=1)
# 具体值懒得加了
fig.colorbar(cax)
ticks = np.arange(0, 10, 1)
ax.set_xticks(ticks)
ax.set_yticks(ticks)
ax.set_xticklabels(names)
ax.set_yticklabels(names)
plt.title("相关性系数图")
plt.tight_layout()